.hidden {
    display: none;
}
.row {
    padding-top: 10px;
}
.btn-group {
    padding-bottom: 15px;
}
.progress {
    margin-bottom: 5px;
}

#characterTwo {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, 1);
}